################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Grupo_6_CE_LN/.vs/Grupo_6_CE_LN/FileContentIndex
